:root {
  --color-bg: #4a5942;
  --color-surface: hsl(237deg, 16%, 23%);

  --color-text-primary: hsl(226deg, 64%, 88%);
  --color-text-sub-0: hsl(228deg, 24%, 72%); 
  --color-text-sub-1: hsl(227deg, 35%, 80%);

  --color-maroon: hsl(350deg, 65%, 77%);
  --color-mauve: hsl(267deg, 84%, 81%);
  --color-peach: hsl(23deg, 92%, 75%);

}

body {
    /* font-family: Arial, sans-serif; */
    font-family: ArialPixel,system-ui,sans-serif;
    font-size: large;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 2em;
    background-color: var(--color-bg);
    min-height: 100vh;
    place-items: center;
}

.typewriter {
    display: flex;
    justify-content: center;
}

#typewriter-text {
    /* font-family: monospace; */
    font-size: 3rem;
    font-weight: 900;
    /* border-right: 1px solid; */
    white-space: nowrap;
    overflow: hidden;
    
    /* background-image: linear-gradient(120deg, var(--color-peach), var(--color-mauve)); */
    /* background-clip: text; */
    /* color: transparent; */
}

.dialog-shell {
    position: fixed;
    inset: 0;
    display: grid;
    place-items: center;
}


/* cs1.6 stuff */
.heading {
    grid-row: 1;
    grid-column: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6px;
}

.links {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 6px;
    padding: 4px 0;
}

.links .cs-btn {
    width: 100%;
    text-align: center;
}

.panel {
    overflow-y: auto;
    padding: 10px 12px !important;
    max-height: calc(min(90vh, 450px) - 28px - 30px);
}

.cs-dialog {
    position: relative;
    width: min(90vw, 800px);
    min-height: 120px;
    display: grid;
    grid-template-rows: 28px 1fr;
    grid-template-columns: 1fr;
}